body{
	background-image: url("logo1.png") ;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
}
#logo{
	
	font-family:Elephant;
	color: white;

}
h2{
	font-family:Elephant;
	color: white;
	background-color: #778899;
	width: 500px;
}
form{
	font-family:monospace;
	text-decoration: underline;
	text-decoration-color: red;
	background-color: #778899;
	width: 500px;
}
#h{
	
	font-family:Elephant;
	color: white;
	background-color: #778899;
	width: 500px;


}
